{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" {% block ngapp %}ng-app="Comparador"{% endblock %}>
<head>
    <meta charset="UTF-8">
    <script src="/media/js/Comparador.js"></script>
    <script src="/media/js/controllers/ComparadorController.js"></script>
    <script>
        globals = {'servidorUrl': {% url 'servidores' %}}
    </script>
</head>
<body {% block ngcontroller %}ng-controller="ComparadorController" {% endblock %}>
{% block menu_lateral %}
    <div class="col-md-3">
        <p class="lead">
            <a href="#" class="btn btn-primary btn-block" ng-click="pesquisar(filtro)">
                <span class="glyphicon glyphicon-search"></span> Pesquisar
            </a>
        </p>

        <div class="form-group"><br/>
            <strong>Preço até</strong>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                      ng-model="filtro.preco" step="0.1">
            </div>
        </div>
        <div class="form-group"><br/>
            <strong>CPU (Quantidade de núcleos)</strong>
            <select name="qtd_cpu" id="qtd_cpu" class="form-control"
                    ng-model="filtro.quantidade_cpu"
                    ng-options="p for p in parametros.quantidade_cpu">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="form-group"><br>
            <strong>Sistema</strong><br/>
            <input type="text" class="form-control" placeholder="Informe o sistema operacional"
                    ng-model="filtro.sistema_operacional">
            <div class="form-group"><br>
                <strong>Disco</strong>
                <select name="disco" class="form-control" ng-model="filtro.quantidade_hd"
                        ng-options="p for p in parametros.quantidade_hd">
                    <option value="">Todos</option>
                    </option>
                </select>
            </div>
            <div class="form-group"><br>
                <strong>Memória</strong>
                <select name="memoria" class="form-control" ng-model="filtro.quantidade_memoria"
                        ng-options="p for p in parametros.quantidade_memoria">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}
{% block corpo %}
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="servidor in filtroServidores">
            <div class="thumbnail">
                <img src="{$servidor.provedor.logo$}" alt="">

                <div class="caption">
                    <h4 class="pull-right">${$servidor.preco$}</h4>
                    <h4><a href="#">{$servidor.nome$}</a>
                    </h4>

                    <p>Sistema operacional: {$servidor.sistema_operacional$}</p>

                    <p>CPUS: {$servidor.quantidade_cpu$}</p>

                    <p>Memoria: {$servidor.quantidade_memoria$}</p>

                    <p>Disco: {$servidor.quantidade_hd$}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
